<ul class="list-unstyled menu-position">
    <li class="link-menu" routerLinkActive="active">
        <a class="hover-link" [routerLink]="['adminEstudiantes']">
            Estudiantes
        </a>
    </li>

    <li class="link-menu" routerLinkActive="active"><a class="hover-link" [routerLink]="['materias']">
            Materias
        </a></li>
        <li class="link-menu" routerLinkActive="active"><a class="hover-link" [routerLink]="['promedios']">
            Promedios
        </a></li>
        

</ul>